@model RentBook.Models.BooksChap

@{
    ViewBag.Title = "BookPage";
    Layout = "~/Views/Shared/_Layout2.cshtml";

    bool check = false;

    bool wishlist = false;
}

<div class="breadcrumb-option mt-15">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                    <a href="./categories.html">Categories</a>
                    <span>@Html.DisplayFor(model => model.Books.b_Type)</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<div id="search"></div>
<div id="close-icon"></div>
<section class="anime-details spad">
    <div class="container">
        <div class="anime__details__content">
            <div class="row mt-3">
                <div class="col-md-3">
                    <div class="" style="text-align:center;">
                        <div>
                            <img src="~/書籍素材/@Html.DisplayFor(model => model.Books.b_Type)素材/@Html.DisplayFor(model => model.Books.b_id)/@Html.DisplayFor(model => model.Books.b_Image)">
                        </div>
                        

                    </div>
                </div>
                <div class="col-md-9">
                    <div class="anime__details__text">
                        <div class="anime__details__title">
                            <h3>@Html.DisplayFor(model => model.Books.b_Name)</h3>
                        </div>

                        <div class="anime__details__rating">
                            
                            <div class="rating">
                                @for (int i = 0; i < ViewBag.AVGSORE; i++)
                            {
                                <a href="#"><i class="fa fa-star"></i></a>
                            }
                            </div>
                            <span>@ViewBag.msgcount  Votes</span>
                        </div>
                        <p>
                            @Html.DisplayFor(model => model.Books.b_Info)
                        </p>

                        <div class="subscribe-btn">
                            @for (int i = 0; i < Model.BooksWishlists.Count; i++)
                            {
                                if (Model.BooksWishlists[i].b_id == Model.Books.b_id)//驗證有沒有買書
                                {
                                    wishlist = true;
                                }
                            }

                            @if (Model.log == true && wishlist == true)//有按過FOLLOW愛心了
                            {
                                <a href=@Url.Action("DELETEwishlist", "CV", new { bid = Model.Books.b_id, bcid = Model.cmember.bc_id, bwaddtime = DateTime.Now }) class="btn follow-btn border-dark" style="color:none;"><i class="fa fa-heart" style="color: red;"></i> Follow</a>
                                @*@Html.ActionLink("Follow", "SAVEwishlist", "CV", new { bid = Model.Books.b_id, bcid = Model.cmember.bc_id, bwaddtime = DateTime.Now }, new {@class= "btn subscribe-btn border-dark" })*@
                            }
                            else if (Model.log == true)//沒按過FOLLOW愛心
                            {
                                <a href=@Url.Action("SAVEwishlist", "CV", new { bid = Model.Books.b_id, bcid = Model.cmember.bc_id, bwaddtime = DateTime.Now }) class="btn subscribe-btn border-dark"><i class="fa fa-heart"></i> Follow</a>
                                @*@Html.ActionLink("Follow", "SAVEwishlist", "CV", new { bid = Model.Books.b_id, bcid = Model.cmember.bc_id, bwaddtime = DateTime.Now }, new { @class = "btn subscribe-btn border-dark" })*@
                            }
                            else
                            {

                            }
                            <!--購買書籍權限，分天數-->
                            @if (Model.log == true)
                            {
                            using (Html.BeginForm("ShopBook", "Point", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="m_id" value="@Model.cmember.m_id" />
                                <input type="hidden" name="b_id" value="@Model.Books.b_id" />
                                <input type="hidden" name="b_DatePrice" value="@Model.Books.b_DatePrice" />


                                <table class="table">
                                    <tr>
                                        <th>
                                            品項
                                        </th>
                                        <th>
                                            價格
                                        </th>
                                        <th></th>
                                    </tr>


                                    <tr>
                                        <td>
                                            七日
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => Model.Books.書籍七日價格) 點 <input type="radio" name="msd_CostPoint" value="@Model.Books.書籍七日價格">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            十四
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => Model.Books.書籍十四日價格) 點 <input type="radio" name="msd_CostPoint" value="@Model.Books.書籍十四日價格">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            二十一日
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => Model.Books.書籍二十一日價格) 點 <input type="radio" name="msd_CostPoint" value="@Model.Books.書籍二十一日價格">
                                        </td>
                                    </tr>


                                </table>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="立即購買" class="btn btn-default" />
                                    </div>
                                </div>
                            }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="anime__details__review">

                    <div class="section-title">
                        <h5>章節</h5>
                    </div>
                    <div class="sidebar-widget-area">
                        <div class="widget-content">

                            <ul class="list-group">



                                @if (Model.log == true)
                                {
                                    for (int i = 0; i < Model.BookCaseBooks.Count; i++)
                                    {
                                        if (Model.BookCaseBooks[i].b_id == Model.Books.b_id)//驗證有沒有買書
                                        {
                                            check = true;
                                        }
                                    }
                                }

                                @if (check == true && Model.log == true)
                                {
                                    for (int i = 0; i < Model.Chapters.Count; i++)
                                    {
                                        if (i < 5)
                                        {
                                            if (Model.Books.b_Type == "小說")
                                            {
                                                @Html.ActionLink("EP." + Model.Chapters[i].bc_Content, "ReadBookContent", "ReadBooks", new { b_id = Model.Books.b_id, bc_Chapters = Model.Chapters[i].bc_Chapters }, new { @class = "list-group-item" })
                                            }
                                            else
                                            {
                                                @Html.ActionLink("EP." + Model.Chapters[i].bc_Content, "ReadComicBookContent", "ReadBooks", new { b_id = Model.Books.b_id, bc_Chapters = Model.Chapters[i].bc_Chapters }, new { @class = "list-group-item" })
                                            }

                                        }

                                    }

                                    <li class="dots" id="dots"></li>
                                    <div class="more" id="more">

                                        @for (int i = 1; i < Model.Chapters.Count; i++)
                                        {
                                            if (i > 4)
                                            {
                                                if (Model.Books.b_Type == "小說")
                                                {
                                                    @Html.ActionLink("EP." + Model.Chapters[i].bc_Content, "ReadBookContent", "ReadBooks", new { b_id = Model.Books.b_id, bc_Chapters = Model.Chapters[i].bc_Chapters }, new { @class = "list-group-item" })
                                                }
                                                else
                                                {
                                                    @Html.ActionLink("EP." + Model.Chapters[i].bc_Content, "ReadComicBookContent", "ReadBooks", new { b_id = Model.Books.b_id, bc_Chapters = Model.Chapters[i].bc_Chapters }, new { @class = "list-group-item" })
                                                }
                                                @*<li><a href="#" class="list-group-item">Ep.@Model.Chapters[i].bc_Content</a></li>*@
                                            }
                                        }

                                    </div>

                                    <button class="list-group-item" onclick="myFunction()" id="myBtn">閱讀更多</button>
                                }
                                else
                                {
                                    //沒登入或沒買書

                                    for (int i = 0; i < Model.Chapters.Count; i++)
                                    {
                                        if (i < 5)
                                        {
                                            if (Model.Books.b_Type == "小說")
                                            {
                                                @Html.ActionLink("EP." + Model.Chapters[i].bc_Content, "ReadBookContent", "ReadBooks", new { b_id = Model.Books.b_id, bc_Chapters = Model.Chapters[i].bc_Chapters }, new { @class = "list-group-item", onclick = "javascript:alert('請先購買書籍'); return false;" })
                                            }
                                            else
                                            {
                                                @Html.ActionLink("EP." + Model.Chapters[i].bc_Content, "ReadComicBookContent", "ReadBooks", new { b_id = Model.Books.b_id, bc_Chapters = Model.Chapters[i].bc_Chapters }, new { @class = "list-group-item", onclick = "javascript:alert('請先購買書籍'); return false;" })
                                            }

                                        }

                                    }

                                    <li class="dots" id="dots"></li>
                                    <div class="more" id="more">

                                        @for (int i = 1; i < Model.Chapters.Count; i++)
                                        {
                                            if (i > 4)
                                            {
                                                if (Model.Books.b_Type == "小說")
                                                {
                                                    @Html.ActionLink("EP." + Model.Chapters[i].bc_Content, "ReadBookContent", "ReadBooks", new { b_id = Model.Books.b_id, bc_Chapters = Model.Chapters[i].bc_Chapters }, new { @class = "list-group-item", onclick = "javascript:alert('請先購買書籍'); return false;" })
                                                }
                                                else
                                                {
                                                    @Html.ActionLink("EP." + Model.Chapters[i].bc_Content, "ReadComicBookContent", "ReadBooks", new { b_id = Model.Books.b_id, bc_Chapters = Model.Chapters[i].bc_Chapters }, new { @class = "list-group-item", onclick = "javascript:alert('請先購買書籍'); return false;" })
                                                }
                                            }
                                        }

                                    </div>

                                    <button class="list-group-item" onclick="myFunction()" id="myBtn">閱讀更多</button>
                                }



                            </ul>
                        </div>
                    </div>


                    <div class="section-title">
                        <h5>評論</h5>
                    </div>
                    @foreach (var item in Model.CmessageSqlViews)
                    {
                    <div class="anime__review__item">
                        <div class="anime__review__item__pic">
                            <img src="@item.m_Image" alt="">
                        </div>
                        <div class="anime__review__item__text">
                            <h6>
                                @item.m_Alias
                                <span>@item.bm_MessageTime</span>
                                @for (int i = 0; i < item.bm_Score; i++)
                                {
                                    <i class="fa fa-star" id="starstylefull" ></i>
                                }
                                
                            </h6>
                            <p>@item.bm_Message</p>
                            
                            <input type="hidden" name="b_id" value="@item.b_id" />
                            <input type="hidden" name="m_id" value="@item.m_id" />
                        </div>
                    </div>
                    }


                </div>
                @if (check == true && Model.log == true)
                {
                    if (Model.listbm!=true)
                    {
                        <div class="anime__details__form">
                            <div class="section-title">
                                <h5>Your Comment</h5>
                            </div>
                            <form method="post" action="~/CV/SAVEBookPage">
                                <textarea placeholder="Your Comment" name="bm_Message"></textarea>
                                <input type="hidden" name="b_id" value="@Html.DisplayFor(model => model.Books.b_id)" />
                                <input type="hidden" name="m_id" value="@Model.cmember.m_id" /><!--判定member留言板-->
                                <button type="submit"><i class="fa fa-arrow-circle-o-up"></i> Review</button>

                                <div class="rate-content mt-2" id="rating">


                                    <a href="#" id="r1" type="radio">
                                        <i class="fa fa-star-o" id="starstyle"></i>
                                    </a>
                                    <a href="#" id="r1" type="radio">
                                        <i class="fa fa-star-o" id="starstyle"></i>
                                    </a>
                                    <a href="#" id="r1" type="radio">
                                        <i class="fa fa-star-o" id="starstyle"></i>
                                    </a>
                                    <a href="#" id="r1" type="radio">
                                        <i class="fa fa-star-o" id="starstyle"></i>
                                    </a>
                                    <a href="#" id="r1" type="radio">
                                        <i class="fa fa-star-o" id="starstyle"></i>
                                    </a>
                                    <input type="hidden" name="bm_Score" id="input1" value="0" />

                                </div>

                            </form>

                        </div>
                    }
                    
                }
            </div>
                <div class="col-lg-4 col-md-4">
                    <div class="sidebar-widget-area">
                        <h5 class="title">Latest Posts</h5>

                        <div class="widget-content">
                            @for (int i = 0; i < 4; i++)
                            {
                                <div class="single-blog-post d-flex align-items-center widget-post">
                                    <!-- Post Thumbnail -->
                                    <div class="post-thumbnail">
                                        <img src="~/書籍素材/@(Model.LatestBooks[i].b_Type)素材/@Model.LatestBooks[i].b_id/@Model.LatestBooks[i].b_Image" alt="">
                                    </div>
                                    <!-- Post Content -->
                                    <div class="post-content">
                                        <a href="#" class="post-tag">Lifestyle</a>
                                        <h4>
                                            <a href="#" class="post-headline">@Model.LatestBooks[i].b_Name</a>
                                        </h4>
                                        <div class="post-meta">
                                            <p>
                                                <a href="#">12 March</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                    <div class="sidebar-widget-area">
                        <h5 class="title">Tags</h5>
                        <div class="widget-content">
                            <ul class="tags">
                                @foreach (var item in Model.tname)
                                {
                                    <li><a href="#">@item</a></li>
                                }
                                @*<li>
                                    <a href="#">全一集</a>
                                </li>
                                <li>
                                    <a href="#">冒險</a>
                                </li>
                                <li>
                                    <a href="#">戀愛故事</a>
                                </li>
                                <li>
                                    <a href="#">穿越</a>
                                </li>
                                <li>
                                    <a href="#">輕小說</a>
                                </li>
                                <li>
                                    <a href="#">機甲</a>
                                </li>
                                <li>
                                    <a href="#">校園</a>
                                </li>
                                <li>
                                    <a href="#">戰爭</a>
                                </li>
                                <li>
                                    <a href="#">懸疑推理</a>
                                </li>
                                <li>
                                    <a href="#">職場</a>
                                </li>
                                <li>
                                    <a href="#">網路小說</a>
                                </li>
                                <li>
                                    <a href="#">奇幻</a>
                                </li>*@
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>


@*<h2>BookPage</h2>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayFor(model => model.Books.b_Name)
            </th>

        </tr>

    </table>*@
