@using PagedList
@using PagedList.Mvc

@model IPagedList<RentBook.Books>
@{
    ViewBag.Title = "SeachItem";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<link href="~/Content/PagedList.css" rel="stylesheet" />


<div class="container">
    <div class="row">

        <div class="col-lg-12">
            <div class="breadcrumb__links">
                <span>搜尋結果: </span>
                <a href="./categories.html">@ViewBag.drop</a>

            </div>
        </div>
    </div>
    <div class="row mt-30">
        <div class="col-12 col-md-2">
            <div class="sidebar-widget-area">

                <div class="widget-content">
                    <ul class="list-group">
                        <legend>分類</legend>
                        <li class="list-group-item dropright text-center">
                            @Html.ActionLink("漫畫", "SeachItem", "CV", new { drop = "漫畫" }, null)
                            
                        </li>
                        <li class="list-group-item dropright text-center">
                            @Html.ActionLink("小說", "SeachItem", "CV", new { drop = "小說" }, null)
                            
                        </li>
                        <li class="list-group-item text-center">
                            @Html.ActionLink("今日最新", "LatestItem", "CV")
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-10">
            <h5>共 @ViewBag.count 部作品</h5>
            <hr>
            @foreach (var item in Model)
            {
                <div class="row mt-3 myborder">
                    <div>
                        <input type="hidden" value="@item.b_id" />
                    </div>
                    <div class=" col-md-3 myheight1" style="text-align:center;">
                        <a href="#"><img src="~/書籍素材/@(item.b_Type)素材/@item.b_id/@item.b_Image" class="myheight2 justify-content-center"></a>
                    </div>
                    <div class="col-md-9">
                        <div class="text-body">
                            <div class="box"></div>
                            <div class="title">
                                @Html.ActionLink(item.b_Name, "BookPage", "CV", new { bid = item.b_id }, new { @class = "title", style = "font-size:24px; font-weight:bold;" })
                                @*<a href="#"><h5>@Html.DisplayFor(modelItem => item.b_Name)</h5></a>*@
                            </div>
                            <p class="ellipsis-2" style="color: black;"> @Html.DisplayFor(modelItem => item.b_Info)
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
    @Html.PagedListPager(Model, page => Url.Action("SeachItem", new { page, drop = ViewBag.drop }))

</div>
