@using PagedList
@using PagedList.Mvc

@model List<RentBook.Models.TAGsearch>
@{
    ViewBag.Title = "TAGsearch";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<link href="~/Content/PagedList.css" rel="stylesheet" />


<div class="container">
    <div class="row">

        <div class="col-lg-12">
            <div class="breadcrumb__links">
                <span>搜尋結果: </span>
                <a href="./categories.html">@*@ViewBag.drop*@</a>

            </div>
        </div>
    </div>
    <div class="row mt-30">
        <div class="col-12 col-md-2">
            <div class="sidebar-widget-area">

                <div class="widget-content">
                    <ul class="list-group">
                        <legend>分類</legend>
                        <li class="list-group-item dropright text-center">
                            @Html.ActionLink("漫畫", "SeachItem", "CV", new { drop = "漫畫" }, null)
                            
                        </li>
                        <li class="list-group-item dropright text-center">
                            @Html.ActionLink("小說", "SeachItem", "CV", new { drop = "小說" }, null)
                            
                        </li>
                        <li class="list-group-item text-center">
                            @Html.ActionLink("今日最新", "LatestItem", "CV")
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-10">
            <h5>共  部作品</h5>
            <hr>
            @foreach (var item in Model)
            {
                <div class="row mt-3 myborder">
                    <div>
                        <input type="hidden" value="@item.bid" />
                    </div>
                    <div class=" col-md-3 myheight1" style="text-align:center;">
                        <a href="#"><img src="~/書籍素材/@(item.btype)素材/@item.bid/@item.bimage" class="myheight2 justify-content-center"></a>
                    </div>
                    <div class="col-md-9">
                        <div class="text-body">
                            <div class="box"></div>
                            <div class="title">
                                @Html.ActionLink(item.bname.ToString(), "BookPage", "CV", new { bid = item.bid }, new { @class = "title", style = "font-size:24px; font-weight:bold;" })

                            </div>
                            <p class="ellipsis-2" style="color: black;"> @Html.DisplayFor(modelItem => item.binfo)
                        </div>
                    </div>
                </div>
            }



        </div>
    </div>
    

</div>
