@model RentBook.ViewModels.Tags
    <!--model List<RentBook.Books>-->
@{
    ViewBag.Title = "xxx";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    

}


<div class="hero-area">
    <!-- Hero Slides Area -->
    <div class="hero-slides owl-carousel">
        <!-- Single Slide -->
        <div class="single-hero-slide bg-img" style="background-image: url(../../Content/網站圖片庫/鏡文學1.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="slide-content text-center">
                            <div class="post-tag">
                                <a href="#" data-animation="fadeInUp">lifestyle</a>
                            </div>
                            <h2 data-animation="fadeInUp" data-delay="250ms"><a href="single-post.html">Take a look at last night’s party!</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Slide -->
        <div class="single-hero-slide bg-img" style="background-image: url(../../Content/網站圖片庫/鏡文學2.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="slide-content text-center">
                            <div class="post-tag">
                                <a href="#" data-animation="fadeInUp">lifestyle</a>
                            </div>
                            <h2 data-animation="fadeInUp" data-delay="250ms"><a href="single-post.html">Take a look at last night’s party!</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Slide -->
        <div class="single-hero-slide bg-img" style="background-image: url(../../Content/網站圖片庫/鏡文學3.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="slide-content text-center">
                            <div class="post-tag">
                                <a href="#" data-animation="fadeInUp">lifestyle</a>
                            </div>
                            <h2 data-animation="fadeInUp" data-delay="250ms"><a href="single-post.html">Take a look at last night’s party!</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Hero Area End ##### -->
<!-- ##### 第一欄Blog Wrapper Start ##### -->





<div class="blog-wrapper section-padding-100 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9">

                <!-- Single Blog Area  -->
                <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1000ms">
                    <div class="row align-items-center ">
                        <div class="col-12 col-md-6">
                            <div class="single-blog-thumbnail hovereffect">
                                <img src="~/Content/網站圖片庫/鏡文學4.jpg" alt="">
                                <div class="post-date">
                                    <a href="#">12 <span>march</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <!-- Blog Content -->
                            <div class="single-blog-content">
                                <div class="box"></div>
                                <h4><a href="~/Content/(新聞)讀者推薦排行榜.html" class="post-headline">【人氣作品，不看嗎？】讀者推薦排行榜　10/28 - 11/3</a></h4>
                                <p class="ellipsis">鏡文學簽約作品每週【推薦排行榜】♕TOP1 《發條之森》TOP2《公司冗員清除驚喜包》TOP3《妖怪法則》TOP4《拼裝家庭》TOP5《禿鷹</p>
                                <a href="~/Content/(新聞)讀者推薦排行榜.html">繼續閱讀</a>
                                <div class="post-meta">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Area  -->
                <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="1000ms">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-6">
                            <div class="single-blog-thumbnail hovereffect">
                                <img src="~/Content/網站圖片庫/鏡文學5.jpg" alt="">
                                <div class="post-date">
                                    <a href="#">12 <span>march</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <!-- Blog Content -->
                            <div class="single-blog-content">
                                <div class="box"></div>

                                <h4><a href="~/Content/(新聞)拼裝家庭.html" class="post-headline">【鏡文學出版】拼裝家庭</a></h4>
                                <p class="ellipsis">拼裝家庭Ami亞海 著出版日期：2020/10/30★對共居、教養有更多想像，勇敢迎來各種幸福的契機，觸碰現代家庭組合的多元可能。★人氣插畫家藍聖傑BLUE親自操刀書封繪製★未出版即售出改編影視版權─推薦─劉育豪 / 高雄市性別公民行動協會理事長蔡淇華 / 作家，臺中市惠文高中圖書館主任全世界都以為我們在一起，其實並沒有──先後與同一個女子結婚又離婚的兩個男人， 各自帶著與前妻生下的女兒一起生活；同住在一個屋簷下的他們，到底是不是一家人？何篤行離婚了。妻子留下還在襁褓中的女兒繆繆，頭也不回地離開了婚姻。</p>
                                <a href="~/Content/(新聞)拼裝家庭.html">繼續閱讀</a>
                                <div class="post-meta">


                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- Single Blog Area  -->
                <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1000ms">
                    <div class="row">
                        <div class="col-12">
                            <div class="single-blog-thumbnail hovereffect">
                                <img src="~/Content/網站圖片庫/鏡文學9.jpg" alt="">
                                <div class="post-date">
                                    <a href="#">10 <span>march</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <!-- Blog Content -->
                            <div class="single-blog-content mt-50">
                                <div class=""></div>

                                <h4>
                                    <a href="~/Content/(新聞)懸崖上的樂園——專訪吳曉樂《我們沒有祕密》.html" class="post-headline">
                                        懸崖上的樂園——專訪吳曉樂《我們沒有祕密》
                                    </a>
                                </h4>
                                <p class="ellipsis-2">吳曉樂不愛露面，反而在意各種事件中被流言掩沒的人，他們的臉孔究竟有沒有被看見，所以她參與社運討論，卻發現「弱者往往很難善待彼此」。這也是《我們沒有祕密》幾位角色之間不幸的關係。吳曉樂很在意臉。不是她自己的，而是她筆下人物的面孔，以及新聞事件裡千人一面的受害者。採訪時，她不止一次提到「我想要她們長回自己的臉。」吳曉樂說，社會有張受害者臉譜，一旦受傷，我們就要活生生的人戴上，變成乖順愚笨天真爛漫的角色。</p>
                                <a href="~/Content/(新聞)懸崖上的樂園——專訪吳曉樂《我們沒有祕密》.html">繼續閱讀</a>
                                <div class="post-meta">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1000ms">
                <div class="post-sidebar-area">

                    <!-- Tag -->
                    <div class="sidebar-widget-area">
                        <h5 class="title">Tags</h5>
                        <div class="widget-content">
                            <ul class="tags">
                                @foreach (var item in Model.tname)
                                {
                                <li><a href="@Url.Action("TAGsearch","CV",new {tagname=item },null)">@item</a></li>
                                }
                                
                            </ul>
                        </div>
                    </div>

                    <!-- sidebar post -->
                    <div class="sidebar-widget-area">
                        <h5 class="title">Latest Posts</h5>

                        <div class="widget-content">

                            <!-- Single Blog Post -->
                            @for(int i = 0;i <= 3;i++)
                            {
                                
                                    <div class="single-blog-post d-flex align-items-center widget-post">
                                        <!-- Post Thumbnail -->
                                        <div class="post-thumbnail">
                                            <img src="~/書籍素材/@(Model.Books[i].b_Type)素材/@Model.Books[i].b_id/@Model.Books[i].b_Image" alt="">
                                        </div>
                                        <!-- Post Content -->
                                        <div class="post-content">
                                            <h4>@Html.ActionLink(Model.Books[i].b_Name, "BookPage", "CV", new { bid = Model.Books[i].b_id }, new { @class = "post-headline"})</h4>
                                            
                                            <div class="post-meta">
                                                <p><a href="#">12 March</a></p>
                                            </div>
                                        </div>
                                    </div>                   

                            }                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="instagram-feed-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="insta-title">
                                    <h5>限時折扣⚡</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Instagram Slides -->
                    <div class="instagram-slides owl-carousel">
                        <!-- Single Insta Feed -->
                        <!------>
                        <!--圖1-->
                        @for (int i = 0; i <= 6; i++)
                        {

                        <div class="hovereffect" >
                            <img class="img-responsive" src="~/書籍素材/@(Model.Books[i].b_Type)素材/@Model.Books[i].b_id/@Model.Books[i].b_Image"style="height:200px; width:auto; overflow:hidden;" class="img-fluid" alt="">
                            <div class="overlay">
                                <h2>@Model.Books[i].b_Name</h2>
                                @Html.ActionLink("閱讀全文", "BookPage", "CV", new { bid = Model.Books[i].b_id }, new { @class = "info" })
                            </div>
                        </div>

                        }
                        

                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-30">
            <div class="col-12 col-lg-9">
                <!-- Single Blog Area  -->
                <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="1000ms">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-6">
                            <div class="single-blog-thumbnail hovereffect">
                                <img src="~/Content/網站圖片庫/鏡文學7.jpg" alt="">
                                <div class="post-date">
                                    <a href="#">12 <span>march</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <!-- Blog Content -->
                            <div class="single-blog-content">
                                <div class="box"></div>

                                <h4><a href="~/Content/(新聞)分手事務所.html" class="post-headline">【鏡文學出版】歡迎光臨分手事務所（電子書）</a></h4>
                                <p class="ellipsis">《歡迎光臨分手事務所》四絃 著★ 「拿錢拆散不愛的兩個人有錯嗎?」正反價值拉鋸 ，具十足話題性。★ 都會浪漫愛情喜劇！細膩描繪愛情的多種樣貌與戀愛中的難題，呈現老、中、青三代面對愛情的不同態度。★ 刺激的「臥底」橋段，主角化身情報員蒐集情資， 滿足讀者窺探欲望。自己說不出口的分手，就交給分手事務所。楊綺真和初戀男友愛情長跑七年，沒想到某天收到一張A4列印紙，上面簡單寫著「我們分手吧」！不甘心就這樣被分手的她，到處也找不到前男友，整天鬱鬱寡歡、丟了工作，甚至嘗試吃20幾顆安眠藥自殺。</p>
                                <a href="~/Content/(新聞)分手事務所.html">繼續閱讀</a>
                                <div class="post-meta">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Area  -->
                <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1000ms">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-6">
                            <div class="single-blog-thumbnail hovereffect">
                                <img src="~/Content/網站圖片庫/鏡文學8.jpg" alt="">
                                <div class="post-date">
                                    <a href="#">12 <span>march</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <!-- Blog Content -->
                            <div class="single-blog-content">
                                <div class="box"></div>

                                <h4><a href="~/Content/(新聞)1+1+1.html" class="post-headline">【鏡文學出版】1+1+1</a></h4>
                                <p class="ellipsis">《1+1+1：最暖爸爸插畫家大人系繪本》藍聖傑BLUE 著 文字／翟翱故事／陳昱俐★ 超過1,000,000人次分享，多國媒體現象式報導超人氣插畫家全新創作★ 關於家與成長的大人系療癒繪本。★ 煙花綻放版與街景生活版兩款絕美封面隨機出貨。</p>
                                <a href="~/Content/(新聞)1+1+1.html">繼續閱讀</a>
                                <div class="post-meta">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Load More -->
                <div class="load-more-btn mt-100 wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1000ms">
                    <a href="~/Content/新聞搜尋頁面.html" class="btn original-btn">Read More</a>
                </div>
            </div>

            <!-- ##### Sidebar Area ##### -->
            <div class="col-12 col-md-4 col-lg-3 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1000ms">
                <div class="post-sidebar-area">

                    <!-- Tag -->
                    <!-- Widget Area -->
                    <!-- Widget Area -->
                   

                    <!--評論區-->

                    @if (Model.CmessageSqlViews.Count > 0)
                    {
                        if (Model.CmessageSqlViews.Count < 4)
                        {
                            for (int i = 0; i < Model.CmessageSqlViews.Count; i++)
                            {
                                <div class="card border-dark mb-3 rounded-0" style="max-width: 18rem;">
                                    <div class="card-header mybg1">@Model.CmessageSqlViews[i].m_Alias 評論:</div>
                                    <div class="card-body text-dark">
                                        <a href="#"><h6 class="card-title">@Model.CmessageSqlViews[i].b_Name</h6></a>
                                        <p class="card-text">
                                            @Model.CmessageSqlViews[i].bm_Message
                                        </p>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            for (int i = 0; i < 4; i++)
                            {
                                <div class="card border-dark mb-3 rounded-0" style="max-width: 18rem;">
                                    <div class="card-header mybg1">@Model.CmessageSqlViews[i].m_Alias 評論:</div>
                                    <div class="card-body text-dark">
                                        <a href="#"><h5 class="card-title">@Model.CmessageSqlViews[i].b_Name</h5></a>
                                        <p class="card-text">
                                            @Model.CmessageSqlViews[i].bm_Message
                                        </p>
                                    </div>
                                </div>
                            }
                        }

                    }



                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Blog Wrapper End ##### -->
<!-- ##### Instagram Feed Area Start ##### -->
<!-- ##### Instagram Feed Area End ##### -->
<!-- ##### Footer Area Start ##### -->
