@model RentBook.Models.Userpage.bookshelf.doubleClass2

@{
    ViewBag.Title = "MyBookshelf";
    Layout = "~/Views/Shared/layout_userpage.cshtml";
}


<article class="container py-5 px-5" id="content">
    <h2>我的書櫃</h2>
    <hr style="background-color: white;">
    <div class="mt-5">
        <h3>租期中</h3>
        <hr style="background-color: white;">
        <div class="row" style="padding:15px;">
            @foreach (var i in Model.unexpiredBook)
            {

                <div class="col col-lg-3 text-center">
                    <a href="../CV/BookPage?bid=@Html.DisplayFor(modelItem => i.b_id)">
                        <img style="background-size:contain;width:auto;height:170px;max-height:170px;" src="~/書籍素材/@Html.DisplayFor(modelItem => i.b_Type)素材/@Html.DisplayFor(modelItem => i.b_id)/@Html.DisplayFor(modelItem => i.b_Image)">
                    </a>
                    <p class="mt-3">@Html.DisplayFor(modelItem => i.b_Name)</p>
                    <p>@Html.DisplayFor(modelItem => i.a_Name)</p>
                    <p style="color:green">@Html.DisplayFor(modelItem => i.bcb_BookLastTime)</p>
                </div>
            }
        </div>

    </div>

    <div class="mt-5">
        <h3>已到期</h3>
        <hr style="background-color: white;">
        <div class="row" style="padding:15px;">
            @foreach (var i in Model.expiredBook)
            {
                <div class="col col-lg-3 text-center">
                    <a href="../CV/BookPage?bid=@Html.DisplayFor(modelItem => i.b_id)">
                        <img style="background-size:contain;width:auto;height:170px;max-height:170px;" src="~/書籍素材/@Html.DisplayFor(modelItem => i.b_Type)素材/@Html.DisplayFor(modelItem => i.b_id)/@Html.DisplayFor(modelItem => i.b_Image)">
                    </a>
                    <p>@Html.DisplayFor(modelItem => i.b_Name)</p>
                    <p>@Html.DisplayFor(modelItem => i.a_Name)</p>
                    <p style="color:red">@Html.DisplayFor(modelItem => i.bcb_BookLastTime)</p>
                </div>


            }
        </div>

    </div>


</article>

