@model IEnumerable<RentBook.Models.Author.AuthorModel>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("新增作者", "Create")
</p>
<table class="table">
    <tr>
        <th>
            作者照片
        </th>
        <th>
            作者名稱
        </th>
        <th>
            作者生日
        </th>
        <th>
            作者點數
        </th>
        <th>
            作者 Email
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        <img name="a_Image" src="@item.a_Image" />
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.a_Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.a_Birth)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.a_Point)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.a_Email)
    </td>
    <td>
        @Html.ActionLink("修改", "Edit","Author", new { aid=item.a_id },null) |
        @*@Html.ActionLink("刪除", "Delete", new { /* id=item.PrimaryKey */ })*@
    </td>
</tr>
}

</table>
