@model IEnumerable<RentBook.bTest1>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.bid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bIntro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bPubDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bPerHourPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.bid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bIntro)
        </td>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.bImage)" style="height:150px;width:auto;"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bPubDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bPerHourPrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
